<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Am I Out?</title>

    <!-- jquery nonsense -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap nonsense-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/js/lib/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet" />

    <!-- Leaflets Nonsense -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom Nonsense -->
    <!--/*
        This sets a javascript variable that contains the context root. By using this variable, we can avoid
        having to harccode the context root all over the frontend.
    */-->
    <script th:inline="javascript">
                var contextRoot = /*[[@{/}]]*/ '';
                if (contextRoot == "/")
                    contentRoot = "";

                var GLOBALS = {};
                var stateIdMappingJson = /*[[${@referenceData.getStateIdNameMapping()}]]*/ 'default'
                GLOBALS.stateIdNameMap = JSON.parse(stateIdMappingJson);
    </script>
    <script th:src="@{/js/leaflets_map.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body class="amiout-container">
<div id="snackbar"><span style="margin-right: 4px;">Processing</span><span><i class="fas fa-spinner fa-spin" ></i></span></div>

    <div id="menu" class="amiout-menu">
        <div id="menuPopButton" class="menuPopButton" data-toggle="tooltip" data-placement="right" title="Collapse Menu">
            <div class="triangle"></div>
        </div>
        <div class="siteTitle">Am I Out?</div>
        <div class="menuTitle">Outage Event Query Parameters</div>
        <div class="queryParamContainer">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="queryStartDate">Start Date</label>
                <div class="col-sm-8">
                    <input type="date" id="queryStartDate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="queryEndDate">End Date</label>
                <div class="col-sm-8">
                    <input type="date" id="queryEndDate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="partitionSelect">Partitioning</label>
                <div class="col-sm-8">
                    <select name="partitionSelect" class="form-control" id="partitionSelect">
                        <option value="regions">Regions</option>
                        <option value="states" selected="selected">States</option>
                        <option value="counties">Counties</option>
                    </select>
                </div>
                <small id="helpMe" class="form-text col-sm-12 text-muted">
                    Selecting a value will immediately change the map, clearing any events from a previous query!
                </small>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="showOutageCheck">
                    <label class="form-check-label" for="showOutageCheck">
                        Show Outage Events
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="showTwitterCheck">
                    <label class="form-check-label" for="showTwitterCheck">
                        Show Tweets
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="showWeatherCheck">
                    <label class="form-check-label" for="showWeatherCheck">
                        Show Weather
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button onclick="submitQuery()" type="button" class="btn btn-primary btn-lg btn-block">
                        Run Query
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button onclick="submitQuery()" type="button" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-outline-secondary btn-block">
                        Help
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="mapid"></div>
    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Help</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>How To Use</h4>
                    <ul>
                        <li>Use the mouse to pan, zoom in, and zoom out of the map</li>
                        <li>
                            To query for aggregate counts of outage events, configure your desired query parameters
                            and click the "Run Query" button.
                        </li>
                        <li>
                            To see information about individual outage events, first run a query, and then click
                            on a particular partition of the map
                        </li>
                    </ul>
                    <h4>About</h4>
                    <p>
                        "Am I Out?" is a project designed and implemented by Alex Campbell and Joshua Southward. It's goal
                        is to assist in discovering patterns and hypotheses about eletrical outage events in the US. It
                        was developed during the Fall 2018 semester at Virginia Tech.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>